#header-bottom{
	background:#23d1b7;
}

#search-bar{
  border: 3px solid #23d1b7;
}

#search-bar .home-search-btn{
  background: #23d1b7;
}

.ps-home-menu-tit{
  background: #23d1b7;
}

.goods-list-grid .item .cart-icon{
	background: #23d1b7;
}
