#header-bottom{
	background:#00bcd4;
}

#search-bar{
  border: 3px solid #00bcd4;
}

#search-bar .home-search-btn{
  background: #00bcd4;
}

.ps-home-menu-tit{
  background: #00bcd4;
}

.goods-list-grid .item .cart-icon{
	background: #00bcd4;
}
