#header-bottom{
	background:#f9b83e;
}

#search-bar{
  border: 3px solid #f9b83e;
}

#search-bar .home-search-btn{
  background: #f9b83e;
}

.ps-home-menu-tit{
  background: #f9b83e;
}
.goods-list-grid .item .cart-icon{
	background: #f9b83e;
}
