#header-bottom{
	background:#818edb;
}

#search-bar{
  border: 3px solid #818edb;
}

#search-bar .home-search-btn{
  background: #818edb;
}

.ps-home-menu-tit{
  background: #818edb;
}

.goods-list-grid .item .cart-icon{
	background: #818edb;
}
