#header-bottom{
	background:#8b4da5;
}

#search-bar{
  border: 3px solid #8b4da5;
}

#search-bar .home-search-btn{
  background: #8b4da5;
}

.ps-home-menu-tit{
  background: #8b4da5;
}

.goods-list-grid .item .cart-icon{
	background: #8b4da5;
}
