#header-bottom{
	background:#a0ce4e;
}

#search-bar{
  border: 3px solid #a0ce4e;
}

#search-bar .home-search-btn{
  background: #a0ce4e;
}

.ps-home-menu-tit{
  background: #a0ce4e;
}

.goods-list-grid .item .cart-icon{
	background: #a0ce4e;
}
